/* - Alexander Rozhkov - - */
/* - - - Reset styles - - - */
@import url(./reset.css);
/* - - - Fonts Inter - - - */
@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter-Light.woff2") format("woff2");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter-Regular.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter-Medium.woff2") format("woff2");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
/* - - - Default styles - - - */
:root {
  --color-bg: #0d0d11;
  --color-0: #000000;
  --color-1: #9c9c9c;
  --color-2: #81818b;
  --color-3: #3d96f4;
  --color-4: #999999;
  --color-5: #535353;
  --color-7: #ffffff;
  /* - - - Font root - - - */
  --font-family: "Inter", sans-serif;
}
/* - - - - - - - - - */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--color-black);
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-weight: 300;
  line-height: 1;
  font-size: 16px; /* - - 1REM - - */
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: var(--font-family);
  color: var(--color-1);
  background-color: var(--color-bg);
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
body._lock {
  overflow: hidden;
}
/* - - - - - - - - - */
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
/* - - - - - - - - - */
[class*="__container"] {
  max-width: 1310px;
  margin: 0px auto;
  padding: 0px 15px;
}
/* - - - - - - - - - */
.page {
  flex: 1 1 auto;
}
/* - - - - - - - - - */
.button {
  display: inline-block;
  text-align: center;
  padding: 16px 30px;
  letter-spacing: 2px;
  color: var(--color-7);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  background-color: #3d96f4;
  border-radius: 50px;
  transition: background-color 0.3s ease 0s;
}
.button_dark {
  background: rgba(129, 129, 139, 0.2);
}
.button:hover {
  background-color: #68a9f0;
}
.button_dark:hover {
  background: rgba(129, 129, 139, 0.3);
}
/* - - - - - - - - - */
.header-main__label {
  display: inline-block;
  border: 1px solid rgba(129, 129, 139, 0.2);
  border-radius: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-1);
  padding: 11px 18px;
  transition: border 0.3s ease 0s;
}
.header-main__label:hover {
  border: 1px solid rgba(129, 129, 139, 0.4);
}
.header-main__label:not(:last-child) {
  margin-bottom: 19px;
}
.header-main__title {
  font-weight: 500;
  font-size: 51.2px;
  line-height: 120%;
  color: var(--color-7);
  position: relative;
}
.header-main__title:not(:last-child) {
  margin-bottom: 28px;
}
.header-main__text {
  line-height: 1.5;
  font-size: 18px;
  color: var(--color-1);
}
.header-main__text:not(:last-child) {
  margin-bottom: 33px;
}
.header-main__body {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.header-main__body .header-main__text {
  margin: 0;
}
.header-main__body .header-main__actions {
  align-self: flex-end;
  flex: 0 0 auto;
}
.header-main__body .header-main__title {
  max-width: none;
}
.header-main__body .header-main__text {
  max-width: 735px;
}
.header-main__actions {
  display: flex;
  column-gap: 32px;
  row-gap: 15px;
}
.header-main__list li {
  position: relative;
  min-height: 32px;
  padding-left: 40px;
  color: var(--color-1);
  padding-top: 4px;
  line-height: 1.5;
}
.header-main__list li:not(:last-child) {
  margin-bottom: 16px;
}
.header-main__list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background: rgba(129, 129, 139, 0.1) url(../img/why/ok.svg) center no-repeat;
}
/* - - - - - - - - - */
.text {
  color: var(--color-2);
  line-height: 1.5;
}
/* = = = Header = = = */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(13, 13, 17, 0.7);
  z-index: 5;
}
/* - - - Progress bar - - - */
.progress-container {
  width: 100%;
  height: 3px;
  z-index: 5;
}
.progress-bar {
  height: 3px;
  background: var(--color-3);
  width: 0%;
}
/* - - - - - - - - - */
.header__container {
  display: flex;
  column-gap: 30px;
  align-items: center;
  min-height: 116px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header__logo {
  position: relative;
  z-index: 50;
}
/* - - - Menu - - - */
.header__menu {
  display: flex;
  justify-content: flex-end;
  z-index: 6;
}
.menu__icon {
  display: none;
}
.menu__body {
  flex: 1 1 auto;
  margin: 0;
  z-index: 5;
}
.menu__list > li:nth-child(-n + 2) {
  position: relative;
  margin: 0px 30px 0px 0px;
}
.menu__link {
  font-family: "Inika";
  font-weight: 400;
  font-size: 16px;
  line-height: 312%;
  transition: color 0.3s ease 0s;
}
.menu__link:hover {
  text-decoration: none;
  color: var(--color-2);
}
body._touch .menu__list > li {
  display: flex;
  align-items: center;
}
body._touch .menu__link {
  flex: 1 1 auto;
}
.menu__list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.menu__link {
  font-family: var(--font-family);
  display: block;
  font-size: 18px;
  color: var(--color-7);
  line-height: 1.55;
  font-weight: 300;
}
.menu__link:hover {
  text-decoration: underline;
  color: var(--color-7);
}
/* - - - - - - - - - */
.cart-header {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--color-7);
}
.cart-header:hover .cart-header__text {
  text-decoration: underline;
}
.cart-header__text {
  font-size: 18px;
  line-height: 1.55;
}
.cart-header__quantity {
  background: rgba(129, 129, 139, 0.3);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
}
.header__button {
  flex: 0 0 auto;
}
.icon-menu {
  display: none;
}
.header__logo,
.header__cart,
.header__button {
  position: relative;
  z-index: 50;
}
/* - - - - - - - - - */
.main {
  padding-top: 160px;
  padding-bottom: 100px;
}
.main__container {
  display: flex;
  gap: 32px;
}
.main__content {
  flex: 0 1 50%;
  align-self: center;
}
/* - - - - Animation - - - - */
._anim-items {
  transform: translate(0px, 40%);
  transition: all 1.3s ease 0s;
  opacity: 0;
}
._anim-no-hide._active {
  transform: translate(0px, 0px);
  opacity: 1;
}
/* - - - - - - - - - */
.main__header {
  position: relative;
}
.main__header::before {
  content: "";
  background: url(../img/main/decor.svg) 0 0 / 100% no-repeat;
  width: 122px;
  height: 122px;
  position: absolute;
  top: -10px;
  left: -32px;
}
.main__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: var(--color-1);
  max-width: 500px;
}
.main__images {
  flex: 0 1 50%;
}
.images-main {
  display: flex;
  gap: 9.615385%;
  justify-content: center;
}
.images-main__column {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.images-main__item {
  border-radius: 50% / 29%;
  overflow: hidden;
}
.images-main__item_1,
.images-main__item_4 {
  border-radius: 50% / 29%;
}
.images-main__item_2 {
  border-radius: 50% 50% 0 50%;
}
.images-main__item_3 {
  border-radius: 50% 0 50% 50%;
}
.images-main__item img {
  transform: scale(1.01);
  max-width: 100%;
}
/* - - - - - - - - - */
.clients {
  padding-top: 100px;
  padding-bottom: 70px;
}
.clients__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 1px;
  color: var(--color-7);
  margin-bottom: 44px;
}
.clients__items {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.clients__item img {
  max-width: 100%;
}
/* - - - - - - - - - */
.services {
  padding-top: 70px;
  padding-bottom: 100px;
}
.services__container {
  display: flex;
  gap: 32px;
}
.services__content {
  flex: 0 1 50%;
  align-self: center;
}
.services__items {
  display: flex;
  flex: 0 1 50%;
  gap: 32px;
  justify-content: center;
}
.services__column:first-child {
  padding-top: 48px;
}
.services__item:not(:last-child) {
  margin-bottom: 32px;
}
.item-services {
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  padding: 55px 25px;
  display: block;
}
.item-services__icon:not(:last-child) {
  margin-bottom: 16px;
}
.item-services__title {
  font-weight: 400;
  font-size: 19.2px;
  line-height: 140%;
  color: var(--color-7);
}
.item-services__title:not(:last-child) {
  margin-bottom: 10px;
}
/* - - - - - - - - - */
.why {
  padding-top: 100px;
  padding-bottom: 100px;
}
.why__container {
  display: flex;
  column-gap: 64px;
  row-gap: 32px;
}
.why__images {
  flex: 0 1 50%;
}
.images-why {
  display: flex;
  position: relative;
  align-self: flex-end;
}
.images-why__item {
  overflow: hidden;
}
.images-why__item img {
  transform: scale(1.01);
  max-width: 100%;
}
.images-why__item1 {
  border-radius: 90% 0 49% 49% /70% 0 31% 31%;
}
.images-why__item2 {
  align-self: flex-end;
  border-radius: 50% 50% 50% 0;
}
.why__content {
  flex: 0 1 50%;
  align-self: center;
}
.images-why::before {
  content: "";
  background: url(../img/why/decor.svg) 0 0 / 100% no-repeat;
  width: 122px;
  height: 122px;
  position: absolute;
  bottom: -10px;
  left: -32px;
}
/* - - - - - - - - - - - - */
.advantages {
  padding-top: 100px;
  padding-bottom: 100px;
}
.advantages__container {
  display: flex;
  row-gap: 32px;
}
.advantages__items {
  flex: 1 1 auto;
  padding-right: 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 32px;
}
.advantages__item {
  padding: 40px;
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
}
.advantages__value {
  font-size: 51px;
  font-weight: 500;
  color: var(--color-7);
}
.advantages__value:not(:last-child) {
  margin-bottom: 32px;
}
.advantages__text {
  font-size: 18px;
  line-height: 1.5;
}
.advantages__image {
  align-self: flex-end;
  flex: 0 0 38%;
  overflow: hidden;
  border-radius: 0% 68% 60% 60% / 0% 68% 50% 50%;
}
.advantages__image img {
  transform: scale(1.01);
  max-width: 100%;
}
/* - - - - - - - - - - - - */
.testimonials {
  padding-top: 100px;
  padding-bottom: 100px;
}
.testimonials__header {
  margin-bottom: 64px;
}
.testimonials__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.item-testimonial {
  padding: 64px 40px;
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.user-testimonial {
  display: flex;
  align-items: center;
  gap: 16px;
}
.user-testimonial__avatar {
  flex: 0 0 68px;
}
.user-testimonial__avatar img {
  max-width: 100%;
}
.user-testimonial__title {
  line-height: 1.5;
  color: var(--color-7);
}
.user-testimonial__title:not(:last-child) {
  margin-bottom: 7px;
}
.user-testimonial__company {
  font-size: 14px;
  line-height: 1.57;
}
.item-testimonial__title {
  font-size: 32px;
  line-height: 1.4;
  color: var(--color-7);
}
.item-testimonial__text {
  font-size: 16px;
  flex: 1 1 auto;
  line-height: 1.5;
}
/* simple-rating */
.simple-rating {
  position: relative;
  font-size: 24px;
  display: inline-block;
}
.simple-rating::before {
  content: "★★★★★";
  display: block;
}
.simple-rating__items {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}
.simple-rating__item {
  position: absolute;
  width: 0%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
}
.simple-rating__label {
  flex: 0 0 20%;
  height: 100%;
  cursor: pointer;
  color: #f0dbbb;
}
.simple-rating__label::before {
  content: "★";
  display: block;
  transition: color 0.3s ease 0s;
}
.simple-rating__item:checked,
.simple-rating__item:checked ~ .simple-rating__label {
  color: #fbb040;
}
.simple-rating__label:hover,
.simple-rating__label:hover ~ .simple-rating__label,
.simple-rating__label:checked ~ .simple-rating__label:hover {
  color: #ffef9f;
}
/* - - - - - - - - - - - - */
.blog {
  padding-top: 100px;
  padding-bottom: 190px;
}
.blog__header {
  margin-bottom: 64px;
}
.blog__items {
  display: grid;
  gap: 48px;
  grid-template-columns: repeat(3, 1fr);
}
.item-blog {
  background: rgba(129, 129, 139, 0.1);
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.item-blog__header {
  position: relative;
}
.item-blog__category {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(129, 129, 139, 0.5);
  border-radius: 0px 10px 0px 0px;
  color: var(--color-7);
  font-size: 14px;
  padding: 10px;
  line-height: 1.57;
}
.item-blog__image {
  display: block;
  position: relative;
  padding-bottom: 49.238579%;
}
.item-blog__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  transform: scale(1.01);
}
.item-blog__body {
  padding: 36px 26px;
}
.item-blog__date {
  color: rgba(129, 129, 139, 0.9);
}
.item-blog__date:not(:last-child) {
  margin-bottom: 20px;
}
.item-blog__title {
  color: var(--color-7);
  font-size: 19px;
  line-height: 1.42;
}
.item-blog__title:hover {
  text-decoration: underline;
}
.item-blog__title:not(:last-child) {
  margin-bottom: 30px;
}
.item-blog__text:not(:last-child) {
  margin-bottom: 21px;
}
.item-blog__link {
  color: var(--color-3);
}
.item-blog__link:hover {
  text-decoration: underline;
}
/* - - - - - - - - - - - - */
.page__start {
  margin-bottom: 100px;
}
.start__body {
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 50px 40px;
}
.start__column {
  flex: 0 1 50%;
  text-align: center;
}
.start__title {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-7);
}
.start__title:not(:last-child) {
  margin-bottom: 16px;
}
.start__text {
  max-width: 340px;
  display: inline-block;
}
.start__actions {
  display: flex;
  column-gap: 32px;
  row-gap: 20px;
  justify-content: center;
}
/* - - - - - - - - - - - - */
.footer__main {
  padding-top: 160px;
  padding-bottom: 160px;
}
.main-footer__container {
  display: grid;
  gap: 64px;
  grid-template-columns: minmax(auto, 378px) auto auto minmax(auto, 378px);
}
.main-footer__column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.social {
  display: flex;
  gap: 16px;
}
.social__link {
  flex: 0 1 30px;
  height: 30px;
  border: 1px solid rgba(129, 129, 139, 0.9);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 0.3s ease 0s;
}
.social__link:hover {
  border: 1px solid rgba(255, 255, 255, 1);
}
.main-footer__label {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-7);
  line-height: 1.2;
}
.menu-footer__list {
  display: grid;
  gap: 24px;
}
.menu-footer__link {
  line-height: 1.4;
}
.menu-footer__link:hover {
  color: var(--color-7);
}
.subscribe {
  display: flex;
  gap: 16px;
}
.subscribe__input {
  width: 100%;
  height: 52px;
  border: 1px solid rgba(129, 129, 139, 0.3);
  border-radius: 50px;
  padding: 0px 30px;
  color: var(--color-7);
  background-color: transparent;
}
.subscribe__input::placeholder {
  color: var(--color-4);
}
.bottom-footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 45px;
  padding-bottom: 45px;
  border-top: 1px solid rgba(129, 129, 139, 0.2);
}
.bottom-footer__text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 40px 0px 0px;
  min-height: 30px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
  color: var(--color-5);
}
.bottom-footer__text:hover {
  text-decoration: underline;
}
.bottom-footer__img {
  background: url(../img/footer/alexrozhkov.svg) right no-repeat;
}
.hidden-alexrozhkov {
  display: none;
}
s .show-alexrozhkov {
  display: block;
}
.hidden-social {
  display: none;
}
.show-social {
  display: block;
}
/* end simple-rating */
@media (max-width: 1100px) {
  .services__container {
    flex-direction: column;
  }
  .services__header .header-main__title,
  .services__header .header-main__text {
    max-width: none;
  }
  /* - - - - - - - - - - - - */
  .testimonials__items {
    grid-template-columns: auto;
  }
  /* - - - - - - - - - - - - */
  .blog__items {
    gap: 20px;
  }
  .item-blog__body {
    padding: 25px 15px;
  }
  /* - - - - - - - - - - - - */
  .main-footer__container {
    gap: 45px;
    grid-template-columns: minmax(auto, 378px) auto auto;
  }
  .main-footer__column:nth-child(1) {
    grid-column: span 3;
  }
}
/* - - - - - - - - - - - - */
@media (max-width: 991.98px) {
  .button {
    padding: 14px 20px;
  }
  .header__container {
    min-height: 90px;
  }
  /* - - - - - - - - - - - - */
  .main {
    padding-top: 130px;
    padding-bottom: 60px;
  }
  /* - - - - - - - - - - - - */
  .header-main__title {
    font-size: 44px;
  }
  /* - - - - - - - - - - - - */
  .clients {
    padding-top: 70px;
    padding-bottom: 50px;
  }
  .clients__title {
    margin-bottom: 30px;
  }
  /* - - - - - - - - - - - - */
  .services {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  /* - - - - - - - - - - - - */
  .why {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  /* - - - - - - - - - - - - */
  .advantages {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .advantages__container {
    flex-direction: column;
  }
  .advantages__image {
    align-self: center;
  }
  .advantages__items {
    padding-right: 0;
  }
  /* - - - - - - - - - - - - */
  .testimonials {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .testimonials__header {
    margin-bottom: 40px;
  }
  /* - - - - - - - - - - - - */
  .blog {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .blog__header {
    margin-bottom: 44px;
  }
  /* - - - - - - - - - - - - */
  .page__start {
    margin-bottom: 50px;
  }
  .start__body {
    align-items: stretch;
    flex-direction: column;
    row-gap: 30px;
  }
  /* - - - - - - - - - - - - */
  .footer__main {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
/* - - - - - - - - - - - - */
@media (min-width: 767.98px) {
  .header-main__title {
    max-width: 520px;
  }
  .header-main__text {
    max-width: 500px;
  }
}
/* - - - - - - - - - - - - */
@media (max-width: 767.98px) {
  /* - - MENU BODY - - */
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 40px;
    height: 26px;
    cursor: pointer;
  }
  .menu__icon .line1,
  .menu__icon .line2,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: var(--color-7);
    transition: transform 0.3s ease 0s;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon .line1 {
    top: 35%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon .line2 {
    top: 65%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active .line1 {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active .line2 {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--color-bg);
    padding: 140px 30px 30px 25px;
    transition: left 0.5s ease 0s;
    overflow: auto;
    margin: 0;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu__list > li {
    flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__link {
    font-size: 34px;
  }
  .menu__list > li:not(:last-child) {
    margin-bottom: 0px;
  }
  .menu__list > li:last-child {
    margin-top: 60px;
  }
  .menu__list > li:nth-child(-n + 2) {
    margin: 0px 0px 30px 0px;
  }
  /* - - - - - - - - - - - - */
  .menu__link-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 40px 0px 0px;
    min-height: 30px;
    font-weight: 300;
    font-size: 14px;
    line-height: 2;
    color: var(--color-5);
  }
  .menu__link-text:hover {
    text-decoration: underline;
  }
  .menu__link-img {
    background: url(../img/footer/alexrozhkov.svg) right no-repeat;
  }
  /* - - - - - - - - - */
  .menu__social {
    display: block;
    margin-top: 15px;
  }
  .social-menu {
    display: flex;
    gap: 13px;
  }
  .social-menu__link {
    flex: 0 1 36px;
    height: 36px;
    border: 1px solid rgba(129, 129, 139, 0.9);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 0.3s ease 0s;
  }
  .social-menu__link:hover {
    border: 1px solid rgba(255, 255, 255, 1);
  }
  /* - - - - - - - - - */
  .hidden {
    display: none;
  }
  .show {
    display: block;
  }
  /* - - - End menu - - - */
  .header__container {
    min-height: 70px;
  }
  /* - - - - - - - - - */
  .main {
    padding-bottom: 30px;
  }
  .main__container {
    flex-direction: column;
  }
  .main__content {
    align-self: stretch;
  }
  .header-main__title {
    font-size: 32px;
  }
  .header-main__title:not(:last-child) {
    margin-bottom: 15px;
  }
  .header-main__text:not(:last-child) {
    margin-bottom: 15px;
  }
  .header-main__body {
    flex-direction: column;
    gap: 0;
  }
  .header-main__body .header-main__actions {
    align-self: flex-start;
  }
  /* - - - - - - - - - */
  .clients {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .clients__title {
    margin-bottom: 20px;
  }
  /* - - - - - - - - - */
  .services {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .header__logo {
    flex: 1 1 auto;
  }
  .header__container {
    column-gap: 15px;
  }
  /* - - - - - - - - - - - - */
  .why {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .why__container {
    flex-direction: column-reverse;
  }
  /* - - - - - - - - - - - - */
  .advantages {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  /* - - - - - - - - - - - - */
  .testimonials {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .item-testimonial {
    padding: 30px 15px;
  }
  /* - - - - - - - - - - - - */
  .blog {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .blog__items {
    grid-template-columns: auto;
  }
  .blog__header {
    margin-bottom: 25px;
  }
  /* - - - - - - - - - - - - */
  .page__start {
    margin-bottom: 30px;
  }
  .start__title {
    font-size: 24px;
  }
  /* - - - - - - - - - - - - */
  .footer__main {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .main-footer__container {
    gap: 35px;
    grid-template-columns: auto auto;
  }
  .main-footer__column:nth-child(1) {
    grid-column: span 2;
  }
  .main-footer__column:nth-child(4) {
    grid-column: span 2;
  }
  .bottom-footer__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
/* - - - - - - - - - */
@media (max-width: 650px) {
  .advantages__items {
    grid-template-columns: auto;
  }
}
/* - - - - - - - - - */
@media (max-width: 620px) {
  .services__items {
    flex-direction: column;
  }
  .services__column:first-child {
    padding-top: 0px;
  }
}
/* - - - - - - - - - */
@media (max-width: 560px) {
  .cart-header__text {
    display: none;
  }
  .cart-header__quantity {
    width: 33px;
    height: 40px;
    padding-top: 7px;
    border-radius: 0;
    background: url(../img/bag.svg) center / auto 100% no-repeat;
  }
  .header__cart {
    flex: 1 1 auto;
    justify-content: flex-end;
  }
}
/* - - - - - - - - - */
@media (max-width: 479.98px) {
  .header-main__actions {
    flex-direction: column;
  }
  /* - - - - - - - - - */
  .start__actions {
    flex-direction: column;
  }
  /* - - - - - - - - - */
  .subscribe {
    flex-direction: column;
  }
}
/* - - - - - - - - - */
@media (max-width: 400.98px) {
  .header__logo {
    width: 32px;
    flex: 0 0 32px;
    overflow: hidden;
    z-index: 50;
  }
}
